.td {
    height: 90px;
    width: 90px;
    text-align: center;
}

.btn{
    height: 85px;
    width: 85px;
    border-radius: 45px;
    box-shadow: black 0 0 5px;
    background: rgb(117 120 123);
}

@media (max-width: 800px) {
  .td {
      height: 70px;
      width: 70px;
      text-align: center;
  }
  .btn{
      height: 65px;
      width: 65px;
  }
  }
  @media (max-width: 600px) {
  .td {
      height: 50px;
      width: 50px;
      text-align: center;
  }
  .btn{
      height: 45px;
      width: 45px;
  }
  }
  @media (max-width: 440px) {
  .td {
      height: 40px;
      width: 40px;
      text-align: center;
  }
  .btn{
      height: 35px;
      width: 35px;
  }
  }
  @media (max-width: 370px) {
  .td {
      height: 30px;
      width: 30px;
      text-align: center;
  }
  .btn{
      height: 25px;
      width: 25px;

  }
  }
