.yellow {
    background: yellow
    /* background: radial-gradient(#fbf93f, #fc4646) */
  }
.red {
  background: red
  /* background: radial-gradient(black, yellow, red, red) */
}

.mainTitle {
  text-align: center;
}