body {
    margin: 0%;
    padding: 0%;
    background-image: url('../src/components/images/animated-gifs-of-fighting-game-backgrounds-19.gif') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}